.carousel-indicators .active {
    background-color: silver;
}

.carousel-caption {
    font-size: 2em;
    color: #020202;
    text-shadow: 2px 2px 5px #000;
    color: #ca2222;
}

.carousel-item .active {
    width: 100%;
}
